<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    @*<link href="~/Content/Site.min.css" rel="stylesheet" />*@

    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/all.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
    @*<link href="~/Content/styles/style.css" rel="stylesheet" />*@
</head>
<body>
    @Html.Partial("_HeaderNavBar")

    <div class="container ">
        <br />
        @RenderBody()

    </div>
    <br />
    @*@Html.Partial("_Footer")*@

    <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/MyScripts/principal.js"></script>
    @RenderSection("scripts", false)
</body>
</html>